 
<!-- Button trigger modal -->
<div align="center">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter un utilisateur  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajout d'utilisateur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form  method="post">
                <div class="input-group mb-3">
                  <input type="text" name="nom" [(ngModel)]="user.nom" required class="form-control" placeholder="Nom complet">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="number" [(ngModel)]="user.age" min="18" name="age" required class="form-control" placeholder="Age">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="email" [(ngModel)]="user.email" name="email" required class="form-control" placeholder="Email">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" [(ngModel)]="user.mdp" class="form-control" placeholder="mot de passe" name="mdp">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="telephone" [(ngModel)]="user.telephone" required class="form-control" placeholder="telephone">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <textarea name="adresse" [(ngModel)]="user.adresse" required class="form-control" placeholder="adresse"></textarea>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-globe"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <select name="equipe" [(ngModel)]="user.equipe" required class="form-control">
                      <option value="admin">Administration</option>
                      <option *ngFor="let te of equipes" value="te.titre">{{te.titre}}</option>

                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-users"></span>
                      </div>
                    </div>
                  </div>
                <div class="row">
                 
                  <!-- /.col -->
                  <div class="col-4">
                    <div  align="center"><button (click)="save()" type="submit" class="btn btn-primary btn-block">Ajouter</button></div>
                  </div>
                  <!-- /.col -->
                </div>
              </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">

  <table class="table table-bordered">
<thead>
  <tr>  <th>Nom</th>
    <th>Age</th>
    <th>Email</th>
    <th>Tel</th>
    <th>Adresse</th>
    <th>Equipe</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let us of users  |   LockFilter: query |   paginate: { itemsPerPage: 2, currentPage: p }"><td>{{us.nom}}</td>
    <td>{{us.age}}</td>
    <td>{{us.email}}</td>
    <td>{{us.telephone}}</td>
    <td>{{us.adresse}}</td>
    <td>{{us.equipe}}</td>
    <td><button (click)="delete(us.id)" class="btn btn-danger">Supprimer</button></td>
</tr>
</tbody>
<tfoot>
 <tr>   <th>Nom</th>
    <th>Age</th>
    <th>Email</th>
    <th>Tel</th>
    <th>Adresse</th>
    <th>Equipe</th>
    <th>Action</th>
</tr>
</tfoot>

  </table>
  <br>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
